<div id="animated-index">

  <div id="groups-header" class"row-fluid">
    <a href='#/projects/<%= model.id %>'
       class="btn btn-small animated pull-left">
         Toggle View: <i class="icon-list"></i>
    </a>
    <a href="#collaborator-modal"
      class="btn btn-small pull-left"
      style="margin-left: 4px;"
      data-toggle="modal">
      Add Collaborators
    </a>

    <div class="span1.5">
      <div id="task-pile"
        class="task-pile pull-right"></div>
      <h4 class="span1.5 pull-left">Task</h4>
    </div>

    <div class="span1.5">
      <div id="task-pile"
        class="group-pile pull-right"></div>
      <h4 class="span1.5 pull-left">Group</h4>
    </div>
  </div>

  <div id="group-view-container" class="row-fluid span10">
    <div id="group-view-content">

      <% collection.each(function (group) { %>
        <div class="group-circle"
             data-id="<%= group.id %>"
             style="left: <%= group.escape('left') %>px;
                    top: <%= group.escape('top') %>px;">
          <div id="group-title-container">
            <h2 id="group-title"
              class="group-title-text"><%= group.escape("name") %></h2>
          </div>

          <% group.get("tasks").each(function (task) { %>
            <div class="task-circle <%= task.escape('effort') %>"
                 data-id="<%= task.id %>"
                 style="left: <%= task.escape('left') %>px;
                        top: <%= task.escape('top') %>px">
              <div id="task-title-container">
                <h4 id="task-title">
                  <a id="taskShow" href="#" data-id="<%= task.id %>">
                    <%= task.escape("title") %>
                  </a>
                </h4>
              </div>
            </div>

          <% }) %>
        </div>

      <% }) %>

    </div>
  </div>
</div>

<div id="newgroup" class="modal hide fade" tabindex="-1"
     role="form"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      x
    </button>
    <h3 id="new-group-form">New Group</h3>
  </div>

  <div class="modal-body">
    <div id="new-group-input">
        Group Name: <input type="text" name="group[name]">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submit-new-group" data-dismiss="modal" class="btn btn-primary">
      Create
    </button>
  </div>
</div>

<div id="newtask" class="modal hide fade" tabindex="-1"
     role="form"  aria-labelledby="myModalLabel" aria-hidden="true">
  <form id="new-task-form">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        x
      </button>
      <h3>New Task</h3>
    </div>
    <div class="modal-body">
      <div id="#new-task">
        <label for="task-modal-title">Title:</label>
        <input type="text" name="task[title]" id="task-modal-title">

        <label for="task-due-date">Due Date:</label>
        <input type="datetime-local" name="task[due_date]" id="task-due-date">

        <label for="task-priority">Priority:</label>
        <select name="task[priority]">
          <% var priorities = ["None", "High","Very High"] %>
          <% priorities.forEach(function(priority) { %>
            <option value="<%= priority %>"><%= priority %></option>
          <% })%>

        </select>

        <label for="task-effort">Effort:</label>
        <select name="task[effort]">
          <% var efforts = ["Small", "Medium","Large"] %>
          <% efforts.forEach(function(effort) { %>
            <option value="<%= effort %>"><%= effort %></option>
          <% })%>
        </select>

        <label for="task-status">Status:</label>
        <select name="task[status]">
          <% var statuses=["Not Started", "In Progress","On Hold", "Completed"] %>
          <% statuses.forEach(function(status) { %>
            <option value="<%= status %>"><%= status %></option>
          <% })%>
        </select>

        <label for="task-description">Description</label>
        <textarea name="task[description]" id="task-description"></textarea>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submit-new-task" data-dismiss="modal" class="btn btn-primary">
        Create
      </button>

    </div>
  </form>
</div>


<div id="collaborator-modal" class="modal hide fade" tabindex="-1"
  role="form" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      x
    </button>
    <h3>Add a Collaborator</h3>
  </div>

  <form id="collaborator-form">
  <div class="modal-body">
    <input type="hidden"
      name="collaboration[project_id]"
      value="<%= model.id %>">
    <input type="hidden" name="authenticity_token" value="<%= AUTH_TOKEN %>">

    <label for="collaborator-email">Collaborator's Email:</label>
    <input type="text"
      name="collaboration[email_address]"
      id="collaborator-email">
  </div>

  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">
      Close
    </button>

    <button type="button" id="submit-new-collaborator"
      data-dismiss="modal"
      class="btn btn-primary">
      Create
    </button>
  </div>
  </form>
</div>

