<div id="groups-header" class"row-fluid">
  <div class="span2">
    <a href='#/projects/<%= collection.first().get("project_id") %>'
       class="btn btn-small group animated pull-left">
         Toggle View: <i class="icon-list"></i>
    </a>
  </div>
  <div class="offset5 span2">
    <div class="group-pile">
    </div>
  </div>
</div>

<div id="group-view-container">
  <div id="group-view-content">

    <% collection.each(function (group) { %>
      <div class="group-circle"
           data-id="<%= group.id %>"
           style="left: <%= group.escape('left') %>px;
                  top: <%= group.escape('top') %>px;">
        <h2><%= group.escape("name") %></h2>


        <% group.get("tasks").each(function (task) { %>
          <div class="task-circle"
               data-id="<%= task.id %>"
               style="left: <%= task.escape('left') %>px;
                      top: <%= task.escape('top') %>px">
            <h4>
              <a href="#/tasks/<%= task.id %>"><%= task.escape("title") %></a>
            </h4>
          </div>

        <% }) %>
      </div>

    <% }) %>

  </div>
</div>


<div id="newgroup" class="modal hide fade" tabindex="-1"
     role="form"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      x
    </button>
    <h3 id="new-group-form">New Group</h3>
  </div>
  <div class="modal-body">
    <div id="#new-group">
      <h4>New Group</h4>
        Group Name: <input type="text" name="group[name]">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submit-new-group" data-dismiss="modal" class="btn btn-primary">
      Create
    </button>
  </div>
</div>