<div id="groups-header">
  <div class="btn-group navigation-buttons">
    <a href='#/projects/<%= groups.first().get("project_id") %>'
       class="btn btn-small group animated">
         Toggle View: <i class="icon-list"></i>
    </a>
  </div>
</div>

<div id="group-view-container" class="pull-left">
  <div id="group-view-content" class="scroller-container">

    <% groups.each(function (group) { %>
      <div class="group-circle"
           data-id="<%= group.id %>"
           style="left: <%= group.escape('left') %>px;
                  top: <%= group.escape('top') %>px;">
        <h2><%= group.escape("name") %></h2>


        <% group.tasks.each(function (task) { %>
          <div class="task-circle"
               data-id="<%= task.id %>"
               style="left: <%= task.escape('left') %>px;
                      top: <%= task.escape('top') %>px">
            <h4>
              <a href="#/tasks/<%= task.id %>"><%= task.escape("title") %></a>
            </h4>
          </div>

        <% }) %>
      </div>

    <% }) %>

  </div>
</div>