<h2>All Tasks By Priority</h2>

<h3>Very High</h3>
<% collection.where({ priority: "Very High" }).forEach(function (task) { %>
  <div class="task">
    <a href="#/tasks/<%= task.id %>"><%= task.escape("title") %></a>
  </div>
<% }) %>
<h3>High</h3>
<% collection.where({ priority: "High" }).forEach(function (task) { %>
  <div class="task">
    <a href="#/tasks/<%= task.id %>"><%= task.escape("title") %></a>
  </div>
<% }) %>
<h3>None</h3>
<% collection.where({ priority: "None" }).forEach(function (task) { %>
  <div class="task">
    <a href="#/tasks/<%= task.id %>"><%= task.escape("title") %></a>
  </div>
<% }) %>