<div class="task">
  Title: <%= model.escape("title") %>
  <br>
  Priority: <%= model.escape("priority") %>
  <br>
  Effort: <%= model.escape("effort") %>
  <br>
  Description: <%= model.escape("description") %>
  <br>
  Status: <%= model.escape("status") %>
</div>