<div class="task-show">
  <a><h3 class="title"><%= model.escape("title") %></h3></a>

  <div id="task-details">
    <h4>Priority:</h4>
    <%= model.escape("priority") %>
    <h4>Effort:</h4>
    <%= model.escape("effort") %>
    <h4>Description:</h4>
    <%= model.escape("description") %>
    <h4>Status:</h4>
    <%= model.escape("status") %>
  </div>
  <br>
  <button id="close-sidebar" class="btn">Close</button>
</div>