<div class="task-show">
  <a><h3 class="title"><%= model.escape("title") %></h3></a>

  <div id="task-details">
    <label for="priority"><strong>Priority:<strong></label>
    <select name="task[priority]" id="priority">
      <% var priorities = ["None", "High","Very High"] %>
      <% priorities.forEach(function(priority) { %>
        <option
          value="<%= priority %>"
          <% if (model.escape("priority") === priority) { %>
            selected="selected"
          <% } %>
          ><%= priority %></option>
      <% })%>
    </select>

    <h4>Effort:</h4>
    <%= model.escape("effort") %>
    <h4>Description:</h4>
    <%= model.escape("description") %>
    <h4>Status:</h4>
    <%= model.escape("status") %>
  </div>
  <br>
  <button id="close-sidebar" class="btn">Close</button>
</div>