<!DOCTYPE html>
<html>
<head>
  <title>DropTask</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">

  <div id="user-info">
  <% if logged_in? %>
    Logged in as: <%= current_user.username %>
    <br>
    <%= link_to "Log Out", logout_url %>
  <% else %>
    <%= link_to "Log In", new_session_url %> |
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
  </div>

  <div id="title">
    <h1>DropTask</h1>
  </div>
</div>

<%= yield %>

</body>
</html>
