<!DOCTYPE html5>
<html>
<head>
  <title>DropTask</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="header" class="row-fluid">
  <div id="title" class="span2 pull-left">
    <h4>DropTask</h4>
  </div>

  <div id="user-info" class="span3 pull-right">
    <% if logged_in? %>
      <div class="dropdown">
        <ul class="dropdown-menu pull-left">
          <li><%= link_to "Log Out", logout_url %></li>
        </ul>
        <button
          class="btn dropdown-toggle"
          data-toggle="dropdown"
          href="#">
            <%= current_user.username %>
            <span class="caret"></span>
        </button>
      </div>
    <% else %>
      <button class="btn"><%= link_to "Log In", new_session_url %></button>
      <button class="btn"><%= link_to "Sign Up", new_user_url %></button>
    <% end %>
  </div>

</div>

<%= yield %>

</body>
</html>
